body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;}
h1{
    font-size: 50px;
}
h2{
  }
.orange-color{
    color: rgb(93, 194, 228);}

.flexible-container{
    display: flex;
    margin-bottom: 120px ;}
.half-width{
    width: 70%;
    padding-left: 5%;}
.half-width img{
    width: 70%;
}
.link-button{
    text-decoration: none;background-image: linear-gradient( rgb(72, 186, 221), rgb(48, 152, 221));
    background-color: rgb(94, 192, 216);
    padding: 10px 40px ;
    color: white ;
    font-weight: 700;
    border-radius: 5px;
}


}
.dream-big{

    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat ;
    background-position: left ;
}
.Experience-area{
background-image:url(images/exp-bg.png);
background-repeat: no-repeat;
background-position: left;
}

.Experience-item{
    width:40% ;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 5%;
  
    box-shadow: 10px 10px 30px gray;
    border: 10px salmon;
    border-image: linear-gradient(#f6b73c, #4d9f0c) 30;;
}

.about{
    background-image: url(images/project.png);
   

    width:40% ;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    padding-right: 20%;
}
.half-width img{
width: ;
}


.known{
    display: flex;
    background-image: url(images/project.png);
    background-repeat: no-repeat;
    background-position: left ;
   

}

.service p{ 
color: white;
font-size: 30px;
font-weight: bold;
margin-bottom: 25px;

 }
.service{
    padding-right: 5%;
   
    }
    .half-width{
        width: 50%;
        padding-right: 5%;
    }
    .half-width img{
        width: 100%;
    }

    .contact{
       display: flex;
       margin-bottom: 150%;
       background-image: url(images/app\ image.jpg);
      background-position: right;
    }

   